<footer
  class="footer"
  style="margin-top: 50px; font-weight: bold; background-color: #99b080"
>
  <div class="content has-text-centered">
    <p style="font-size: 20px">Copyright © HTD</p>
  </div>

  <!-- Three columns created using columns class of Bulma -->
  <div class="columns">
    <!-- Column 1 -->
    <div class="column is-6">
      <!-- Heading is left aligned, medium weight -->
      <h4
        class="bd-footer-title has-text-weight-medium has-text-left"
        style="font-size: 20px; font-weight: 700"
      >
        ORCHIDS WEB
      </h4>

      <!-- footer content -->
      <p class="bd-footer-link has-text-left" style="margin-top: 20px">
        LOADING....
      </p>
    </div>
    <!-- Column 3 -->
    <div class="column is-2"></div>
    <div class="column">
      <h2 style="font-size: 20px; font-weight: 700">Contact me</h2>

      <div style="margin-top: 20px">
        <a href="#">
          <div class="icon-text" style="display: flex; align-items: center">
            <i class="fa-regular fa-envelope" style="margin-right: 5px"></i>
            <span>Email: dathtse151289@fpt.edu.vn</span>
          </div>
        </a>
        <br />
        <a href="#">
          <div class="icon-text" style="display: flex; align-items: center">
            <i class="fa-brands fa-github" style="margin-right: 5px"></i>
            <span>Github: https://github.com/rejavik</span>
          </div>
        </a>
      </div>
    </div>
  </div>
</footer>
