<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css">
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.24/css/jquery.dataTables.css">
    <script type="text/javascript" charset="utf8" src="https://code.jquery.com/jquery-3.5.1.js"></script>
    <script type="text/javascript" charset="utf8"
        src="https://cdn.datatables.net/1.10.24/js/jquery.dataTables.js"></script>
    <script src="https://kit.fontawesome.com/589ebc73ef.js" crossorigin="anonymous"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.9.3/js/bulma.min.js"
        integrity="sha512-XSL8md+KzAg/ysd1EBcvzQx+8keNkzJ1pogDe+bJN9P5/RW+5c5v5d6Am++F6fmnt8wpD22fCaC/MP1M48hRtg=="
        crossorigin="anonymous"></script>
</head>
<nav class="navbar" style="background-color:#99B080; position: fixed; top:0; width: 99vw;" role="navigation"
    aria-label="main navigation">
    <div class="navbar-brand">
        <a class="navbar-item" href="https://bulma.io">
          <img src="https://bulma.io/images/bulma-logo.png" width="112" height="28">
        </a>
      </div>

    <div id="navbarBasicExample" class="navbar-menu">
        <div class="navbar-start">
            <a class="navbar-item" href="/">
                <i class="fa-solid fa-house" style="margin-right: 5px;"></i>
                Home
            </a>
            <% if(isLogin.name !== undefined) { %>
                <% if(isLogin.role === "admin") { %>
                    <a class="navbar-item" href="/users/dashboard">
                        <i class="fa-solid fa-gauge" style="margin-right: 5px;"></i>
                        Dashboard
                    </a>
            <a class="navbar-item" href="/orchids">
                <i class="fa-solid fa-fan" style="margin-right: 5px;"></i>
                Orchid
            </a>
           
            <a class="navbar-item" href="/categories">
                <i class="fa-regular fa-rectangle-list" style="margin-right: 5px;"></i>
                Category
            </a>
            <a class="navbar-item" href="/accounts">
                <i class="fa-solid fa-users" style="margin-right: 5px;"></i>
                Users
            </a>
            <% }} %>
        </div>
        
    </div>
    
    
        <div class="navbar-end">
            <% if(isLogin.name !== undefined) { %>
            <div class="navbar-item has-dropdown is-hoverable" style="margin-right: 35px;">
                <a class="navbar-link">
                    <i class="fa-solid fa-user" style="margin-right: 5px;"></i>
                   <%= isLogin.name %>
                </a>
        
                <div class="navbar-dropdown">
                  <a class="navbar-item" href="/users/edit">
                    <i class="fa-sharp fa-regular fa-address-card" style="margin-right: 5px;"></i>
                    Profile
                  </a>
                  <a class="navbar-item" href="/users/change-password">
                    <i class="fa-solid fa-key" style="margin-right: 5px;"></i>
                    Change password
                  </a>
                  <a class="navbar-item" href="/users/logout">
                    <i class="fa-solid fa-arrow-right-from-bracket" style="margin-right: 5px;"></i>
                    Logout
                  </a>
                </div>
              </div>
              <% } %>
              <% if(isLogin.name === undefined) { %>
            <div class="navbar-item">
                <div class="buttons">
                    <a class="button is-primary" href="/users/login">
                        <strong> <i class="fa-solid fa-right-to-bracket" style="margin-right: 5px;"></i>Log in</strong>
                    </a>
                </div>
            </div>
        </div>
        <% } %>
            </div>
</nav>